@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');

// Override Bulma default colors
$red: #E20057;
$yellow: #FFCC21;
$green: #2AB14E;
$blue: #1B64DD;

// Custom colors
$purple: #763FCE;
$magenta: #9c27b0;
$applegreen: #C1ED2F;
$turquoise: #3FB3B6;
$darkmenu: #4a4a4a;
$pending: $applegreen;
$pending-invert: #363636;
$error: $red;
$error-invert: #FFFFFF;
$custom-colors: (
  "pending": ($pending, $pending-invert), "error": ($error, $error-invert)
);

// Update Bulma's global variables
$family-sans-serif: "Source Sans Pro", "Segoe UI", "Ubuntu", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$primary: $purple;
$info: $turquoise;
$family-heading: "Fira Sans", "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$code: $magenta;

$footer-padding: 1rem 2.5rem;
$level-item-spacing: 2rem;
//$margin-right: 2 rem;

// Update some of Bulma's component variables

//Enable this import line when Bulma is in a local folder called "bulma"
//@import 'bulma/bulma';
// Enable this import line instead when Bulma is in package.json
@import '../../../node_modules/bulma/bulma.sass';

// Overrides that can't be done with variables go here
// may be broken out into a separate file later

main {
  p,
  dl,
  ol,
  ul,
  blockquote,
  pre,
  table {
    &:not(last-child) {
    margin-bottom: 1em;
    }
  }
}

main ul {
  list-style: disc outside;
  margin-left: 2em;
  ul {
      list-style-type: circle;
      margin-top: .5em;
      }
}

main ol {
    list-style-position: outside;
    margin-left: 2em;
    margin-top: 1em;
}

main li {
    margin-bottom: .5em;
}


// Custom styles go here, may be broken out into a seperate file later
#app {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #363636;  //$grey-darker
}

.tagline {
  border-top: 1px #363636 solid;
  border-bottom: 1px #363636 solid;
  padding: 2em;
    p {
      text-align: center;
      width: 100%;
    }
}

.header-title {
  border-bottom: 1px #363636 solid;
  padding: 0em 2.5em 0em 2.5em;
  margin-bottom: 0em;
}

.side-menu {
  background-color: $darkmenu;
  min-height:90vh;
}

.side-menu-body {
  padding: 1em 1em 1em 1em;
}


.no-padding {
  padding-top: 0em;
}

.pad-right-2 {
  padding-right: 2rem;
}

.top-align {
  vertical-align: text-top;
}

.bottom-align {
  vertical-align: text-bottom;
}